/* Fuentes más delgadas/normal */
@font-face {
    font-family: 'InterTight';
    src: url('assets/fonts/InterTight-Thin.ttf') format('truetype');
    font-weight: 100;
}

@font-face {
    font-family: 'InterTight';
    src: url('assets/fonts/InterTight-Light.ttf') format('truetype');
    font-weight: 200;
}

@font-face {
    font-family: 'InterTight';
    src: url('assets/fonts/InterTight-Regular.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'InterTight';
    src: url('assets/fonts/InterTight-Medium.ttf') format('truetype');
    font-weight: 400;
}

/* Fuentes más gruesas/negritas */

@font-face {
    font-family: 'InterTight';
    src: url('assets/fonts/InterTight-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'InterTight';
    src: url('assets/fonts/InterTight-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'InterTight';
    src: url('assets/fonts/InterTight-ExtraBold.ttf') format('truetype');
    font-weight: 800;
}

@font-face {
    font-family: 'InterTight';
    src: url('assets/fonts/InterTight-Black.ttf') format('truetype');
    font-weight: 900;
}