.boton {
    outline: 2px solid transparent;
    outline-offset: 2px;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: 'InterTight';
    font-size: 1em;
    font-weight: 800;
    letter-spacing: 2px;
    cursor: pointer;
    transition: background-color .35s, outline-color .35s;
}

    .boton:hover {
        transition-duration: .25s;
    }

.boton__guardar,
.boton__modificar {
    width: 100%;
    padding: 10px 15px;
}

/* --- BOTÓN PARA GUARDAR --- */
.boton__guardar {
    color: var(--colorLetraClaro);
    letter-spacing: 1px;
    background-color: var(--colorLetraOscuroSecundario);
}

    .boton__guardar:hover {
        background-color: #5984c0;
        outline-color: var(--colorLetraOscuroSecundario);
        transition: background-color .25s;
    }
/* --- BOTÓN PARA ELIMINAR --- */
.boton__eliminar {
    width: auto;
    color: var(--colorFondoClaro);
    background-color: #da2c38;
}

    .boton__eliminar:hover {
        background-color: #e43222;
        outline-color: #da2c38;
    }

/* --- BOTÓN PARA MODIFICAR --- */
.boton__modificar,
.boton__modificar--accion {
    background-color: #faa307;
    color: var(--colorFondoClaro);
}

    .boton__modificar:hover,
    .boton__modificar--accion:hover {
        outline-color: #faa307;
    }

/* --- BOTÓN PARA ACTIVAR LA MODIFICACIÓN --- */
.boton__modificar--accion {
    width: auto;
}

.boton__refrescar {
    background-color: var(--colorSecundario);
    color: var(--colorPrincipal);
}

    .boton__refrescar:hover {
        background-color: #88d6c0;
        outline-color: var(--colorPrincipal);
    }

.boton--filtro {
    color: var(--colorPrincipal);
}
