/* ----- RESETEAR ELEMENTOS ----- */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

form {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "main"
        "footer";
    position: relative;
    z-index: 15;
    font-family: 'InterTight';
    background-color: var(--colorFondoPrincipal);
}

input::placeholder {
    letter-spacing: 1px;
}

h1, h2, h3, h4, h5, h6, label, a, legend {
    text-wrap: balance;
}

p {
    text-wrap: pretty;
}

/* ----- RESETEAR ELEMENTOS ----- */
/* ----- FIN RESETEAR ELEMENTOS ----- */
