body {
    font-family: 'InterTight';
    background-color: var(--colorFondoPrincipal);
    position: relative;
    z-index: 15;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

/* ----- VALORES PARA CONTENEDORES PRINCIPALES ----- */

/* ----- VALORES PARA CONTENEDORES PRINCIPALES ----- */
/* ----- FIN VALORES PARA CONTENEDORES PRINCIPALES ----- */

/* ----- HEADER -> MENÚ ----- */
.header {
    background-color: var(--colorPrincipal);
    grid-area: header;
}

.main__wrapper {
    grid-area: main;
    justify-self: center;
}

.footer {
    grid-area: footer;
}

.header {
    padding: 0 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__logo {
    display: inline-block;
    padding: 5px 10px;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--colorLetraClaro);
}

.menu__lista {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
}

.menu__item {
    display: inline;
    position: relative;
    z-index: 20;
    border-radius: 5px;
    transition: background-color .25s;
}

.menu__enlace {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 7px 20px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 1em;
    letter-spacing: 1px;
    color: var(--colorLetraClaro);
    transition: background-color .25s, color .25s;
}

    .menu__enlace:hover {
        background-color: var(--colorLetraOscuroSecundario);
    }

    .menu__enlace:active {
        color: var(--colorLetraOscuro);
    }

.contenedor__icono {
    transition: transform .25s;
}

.menu__item:hover .contenedor__icono {
    transform: rotate(180deg);
}

.menu__boton--sesion {
    padding: 7px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 10px;
    outline: 2px solid transparent;
    outline-offset: 3px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    font-family: 'InterTight';
    font-size: 1em;
    font-weight: 600;
    background-color: var(--colorLetraOscuro);
    cursor: pointer;
    transition: outline-color .25s, color .25s;
}

    .menu__boton--sesion:hover {
        outline-color: var(--colorLetraOscuroSecundario);
        color: var(--colorLetraClaro);
    }

.menu__submenu {
    min-width: 230px;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    z-index: 10;
}

.submenu__item {
    display: block;
    margin: 5px 0;
}

.menu__item:hover .menu__submenu {
    display: block;
}

.menu__item:has(.menu__submenu:hover) {
    background-color: var(--colorLetraOscuroSecundario);
}

.submenu__enlace {
    display: inline-block;
    width: 100%;
    padding: 7px 20px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 1em;
    color: #fff;
    background-color: var(--colorPrincipal);
    transition: background-color .25s, padding-left .25s, text-decoration .25s;
}

    .submenu__enlace:hover {
        background-color: var(--colorLetraOscuroSecundario);
        padding-left: 25px;
        text-decoration: underline;
    }

/* ----- HEADER ----- */
/* ----- FIN HEADER ----- */

/* ----- MAIN ----- */

.main__wrapper {
    max-width: 1300px;
    width: 100%;
    position: relative;
    justify-self: center;
    align-self: center;
}

.page__main {
    background-color: var(--colorLetraClaro);
    border-radius: 5px;
    box-shadow: 0 0 15px 0 #0002;
}

.contenedor__section--titulo {
    text-align: center;
    margin-bottom: 10px;
}

/* ----- MAIN QUERIES -----*/
@media screen and (max-width: 930px) {
    body {
        grid-template-rows: auto 2fr 50px;
    }

    .header {
        padding: 12px;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    .menu__lista {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: start;
    }

    .menu__lista {
        margin-top: 10px;
    }

    .menu__submenu {
        top: 0;
        left: 100%;
    }

    .submenu__item {
        margin-top: 0;
        margin-left: 10px;
    }

    .menu__item:last-child {
        margin-top: 50px;
    }

    .menu__boton--sesion {
        margin-left: 0;
    }

    .main__wrapper {
        justify-self: start;
        align-self: start;
    }
}

/* ----- FIN MAIN QUERIES -----*/
/* ----- MAIN ----- */
/* ----- FIN MAIN ----- */

/* ----- FOOTER ----- */
.footer {
    padding: 20px;
    margin-top: auto;
    text-align: center;
    background-color: var(--colorLetraOscuroSecundario);
}

.footer__parrafo {
    color: var(--colorFondoClaro);
}

.footer__enlace {
    color: var(--colorPrincipal);
}

    .footer__enlace:hover {
        text-decoration: underline;
    }
/* ----- FOOTER ----- */
/* ----- FIN FOOTER ----- */

@media (prefers-reduced-motion: reduce) {
    .enlace__icon {
        animation: none;
    }
}