/* ----- VARIBLES GLOBALES COLORES ----- */
:root {
    --colorPrincipal: #3b977a;
    --colorSecundario: #ccece3;
    --colorFondoPrincipal: #eee;
    --colorFondoClaro: #fff;
    --colorLetraClaro: #f5f5f5;
    --colorLetraOscuro: #669be4;
    --colorLetraOscuroSecundario: #35537c;
    --colorGrisClaro: #3332;
    --colorNegroMedioTransparente: #3338;
    --colorNegroLetra: #222;
    --colorFondoContainer: #f1f5f9;
}
/* ----- VARIBLES GLOBALES COLORES ----- */
/* ----- FIN VARIBLES GLOBALES COLORES ----- */
