/* ----- RESETEAR ELEMENTOS ----- */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

form {
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 15;

    font-family: 'InterTight';
    background-color: var(--colorFondoPrincipal);
}

/* ----- RESETEAR ELEMENTOS ----- */
/* ----- FIN RESETEAR ELEMENTOS ----- */