/* --- ESTILOS PARA LOS CONTENEDORES DE LOS ICONS Y ICON --- */
.contenedor__icono--titulo {
}

    .contenedor__icono--titulo i {
        font-size: 2rem;
        color: var(--colorLetraOscuroSecundario);
    }

.contenedor__icono--subtitulo {
}

    .contenedor__icono--subtitulo i {
        font-size: 1.5rem;
    }

.contenedor__icono__accion--externa {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
/*    background-color: var(--colorLetraOscuro);*/
    border-radius: 16px;
}

    .contenedor__icono__accion--externa i {
        font-size: 1.8rem;
        scale: 1;
        transition: scale .35s;
    }

    .contenedor__icono__accion--externa:hover i {
        scale: 1.2;
        transition-duration: .35s;
    }

        .contenedor__icono {
        }

    .contenedor__icono i {
        font-size: 1.2rem;
    }

.fondo__icono {
    display: inline-block;
    padding: 5px;
    border-radius: 15px;
    color: var(--colorNegroLetra);
}
