body {
    font-family: 'InterTight';
    background-color: var(--colorFondoPrincipal);
    position: relative;
    z-index: 15;
}

/* ----- VALORES PARA CONTENEDORES PRINCIPALES ----- */
.header,
.main__wrapper,
.footer {
    width: 100%;
}

/* ----- VALORES PARA CONTENEDORES PRINCIPALES ----- */
/* ----- FIN VALORES PARA CONTENEDORES PRINCIPALES ----- */

/* ----- HEADER -> MENÚ ----- */
.header {
    background-color: var(--colorPrincipal);
}

.menu {
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.menu__logo--container {
    width: 20%;
}

.menu__logo {
    font-weight: 700;
    color: var(--colorLetraClaro);
}

.menu__lista {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu__item {
    display: inline;
    position: relative;
    z-index: 20;
    border-radius: 5px;
    transition: background-color .25s;
}

.menu__enlace {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 1em;
    color: var(--colorLetraClaro);
    transition: background-color .25s, color .25s;
}

    .menu__enlace:hover {
        background-color: var(--colorLetraOscuroSecundario);
    }

    .menu__enlace:active {
        color: var(--colorSecundario);
    }

.menu__item:last-child .menu__enlace {
    background-color: var(--colorLetraOscuro);
    margin-left: 10px;
}

.menu__submenu {
    min-width: 230px;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    z-index: 10;
}

.submenu__item {
    display: block;
    margin: 5px 0;
}

.menu__item:hover .menu__submenu {
    display: block;
}

.menu__item:has(.menu__submenu:hover) {
    background-color: var(--colorLetraOscuroSecundario);
}

.submenu__enlace {
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: var(--colorPrincipal);
    color: #fff;
    font-size: 1em;
    font-weight: 700;
    transition: background-color .25s, padding-left .25s, text-decoration .25s;
}

    .submenu__enlace:hover {
        background-color: var(--colorLetraOscuroSecundario);
        padding-left: 25px;
        text-decoration: underline;
    }
/* ----- HEADER -> MENÚ ----- */
/* ----- FIN HEADER -> MENÚ ----- */

/* ----- MAIN ----- */

.main__wrapper {
    max-width: 1400px;
    padding: 25px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}

.formulario__contenedor {
    width: 55%;
    padding: 20px 30px;
    background-color: var(--colorFondoContainer);
    box-shadow: 0 0 15px 0 #0005;
    border-radius: 5px;
}

/* ----- MAIN QUERIES -----*/
@media screen and (max-width: 1450px) {
    .main__wrapper {
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }
}

@media screen and (max-width: 1275px) {
    .menu__logo--container {
        width: 100%;
    }
}


@media screen and (max-width: 900px) {

    .menu {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .menu__logo--container {
        width: 100%;
        text-align: left;
    }

    .menu__lista {
        width: 100%;
        margin-top: 10px;
        flex-direction: column;
        align-items: start;
    }

    .menu__submenu {
        top: 0;
        left: 100%;
    }

    .submenu__item {
        margin-top: 0;
        margin-left: 10px;
    }

    .menu__item:last-child {
        margin-top: 50px;
    }

    .main__wrapper {
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }

    .contenedor__titulo__principal {
        text-align: left;
    }

    .formulario__contenedor,
    .contenedor__aside {
        width: 100%;
    }
}

/* ----- FIN MAIN QUERIES -----*/

/* ----- MAIN ----- */
/* ----- FIN MAIN ----- */

/* ----- FOOTER ----- */
.footer {
    padding: 20px;
    margin-top: auto;
    text-align: center;
    background-color: var(--colorLetraOscuroSecundario);
}

.footer__parrafo {
    color: var(--colorFondoClaro);
}

.footer__enlace {
    color: var(--colorPrincipal);
}

    .footer__enlace:hover {
        text-decoration: underline;
    }
/* ----- FOOTER ----- */
/* ----- FIN FOOTER ----- */
