h1 {
    font-size: 1.5em;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.parrafo {
    font-size: .9em;
}

    .parrafo span {
        color: var(--colorPrincipal);
    }

/* ----- MAIN QUERIES -----*/
/*@media screen and (max-width: 1450px) {
}

@media screen and (max-width: 900px) {
}*/

/* ----- FIN MAIN QUERIES -----*/
