body {
    font-family: 'InterTight';
    background-color: var(--colorFondoPrincipal);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    z-index: 15;
}

/* ----- VALORES PARA CONTENEDORES PRINCIPALES ----- */
.header,
.main__wrapper,
.footer {
    width: 100%;
}

.main__wrapper {
    flex-grow: 2;
}

.contenedor {
    width: 70%;
    min-height: 500px;
    margin: 15px;
    padding: 30px;
    background-color: #F1F5F9;
    box-shadow: 0 0 15px 0 #0005;
    border-radius: 5px;
}
/* ----- VALORES PARA CONTENEDORES PRINCIPALES ----- */
/* ----- FIN VALORES PARA CONTENEDORES PRINCIPALES ----- */

/* ----- MAIN ----- */

.main__wrapper {
    max-width: 1300px;
    padding: 25px;
    display: flex;
    justify-content: center;
}

/* ----- MAIN ----- */
/* ----- FIN MAIN ----- */

/* ----- HEADER -> MENÚ ----- */
.header {
    background-color: var(--colorPrincipal);
}

.menu {
    width: 70%;
    margin: 0 auto;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.menu__logo {
    font-weight: 700;
    color: var(--colorLetraClaro);
}

.menu__lista {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__item {
    display: inline;
    position: relative;
    z-index: 20;
}

.menu__enlace {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 1.05em;
    color: var(--colorLetraClaro);
    transition: background-color .25s, color .25s;
}

    .menu__enlace:hover {
        background-color: var(--colorLetraOscuroSecundario);
    }

    .menu__enlace:active {
        color: var(--colorSecundario);
    }

.menu__item:last-child .menu__enlace {
    background-color: var(--colorLetraOscuro);
    margin-left: 10px;
}

.menu__submenu {
    min-width: 230px;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    z-index: 10;
}

.submenu__item {
    display: block;
    margin-bottom: 5px;
}

.menu__item:hover .menu__submenu {
    display: block;
}

.submenu__enlace {
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: var(--colorPrincipal);
    color: #fff;
    font-size: 1em;
    font-weight: 700;
    transition: background-color .25s, padding-left .25s, text-decoration .25s;
}

    .submenu__enlace:hover {
        background-color: var(--colorLetraOscuroSecundario);
        padding-left: 25px;
        text-decoration: underline;
    }
/* ----- HEADER -> MENÚ ----- */
/* ----- FIN HEADER -> MENÚ ----- */

/* ----- FOOTER ----- */
.footer {
    padding: 20px;
    margin-top: auto;
    text-align: center;
    background-color: var(--colorLetraOscuroSecundario);
}

.footer__parrafo {
    color: var(--colorFondoClaro);
}

.footer__enlace {
    color: var(--colorPrincipal);
}

    .footer__enlace:hover {
        text-decoration: underline;
    }
/* ----- FOOTER ----- */
/* ----- FIN FOOTER ----- */