.boton {
    outline: 2px solid transparent;
    outline-offset: 2px;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: 'InterTight';
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 2px;
    cursor: pointer;
    flex-grow: 1;
    max-width: 200px;
    color: #fff;
    transition: background-color .35s, outline-color .35s, color .35s;
}

    .boton:hover {
        outline-color: var(--colorNegroLetra);
    }

.boton__opcion {
    padding: 5px 10px;
    background-color: #dadada;
    color: #fff;
    margin: 5px;
}

.boton__dis_inline {
    display: inline;
}

.boton__opcion--active {
    background-color: #2C2C2A;
    outline-color: var(--colorNegroLetra);
}

.boton:hover {
    transition-duration: .25s;
}

/* --- BOTÓN PARA GUARDAR --- */
.boton__guardar {
    letter-spacing: 1px;
    background-color: #185FA5;
}

    .boton__guardar:hover {
        background-color: #5984c0;
        outline-color: var(--colorLetraOscuroSecundario);
        transition: background-color .25s;
    }
/* --- BOTÓN PARA ELIMINAR --- */
.boton__eliminar {
    width: auto;
    color: var(--colorFondoClaro);
    background-color: #da2c38;
}

    .boton__eliminar:hover {
        background-color: #e43222;
        outline-color: #da2c38;
    }

/* --- BOTÓN PARA MODIFICAR --- */
.boton__modificar,
.boton__modificar--accion {
    background-color: #faa307;
    color: var(--colorNegroLetra);
}

    .boton__modificar:hover,
    .boton__modificar--accion:hover {
        outline-color: #faa307;
    }

/* --- BOTÓN PARA ACTIVAR LA MODIFICACIÓN --- */
.boton__modificar--accion {
    width: auto;
}

.boton__aplicar {
    background-color: var(--colorPrincipal);
}

    .boton__aplicar:hover {
        outline-color: var(--colorPrincipal);
    }

.boton__refrescar {
    background-color: transparent;
    padding: 5px 10px;
    color: #9C9A92;
}

    .boton__refrescar:hover {
        outline-color: #2C2C2A;
        color: #2C2C2A;
    }

.boton--filtro {
    color: var(--colorPrincipal);
}

.boton__ocultar {
    display: none;
}
