.formulario__contenedor {
    width: 60%;
    min-height: 500px;
    margin: 10px;
    padding: 25px 35px;
    background-color: #F1F5F9;
    box-shadow: 0 0 15px 0 #0005;
    border-radius: 5px;
}

.formulario__header {
    text-align: center;
    margin-bottom: 15px;
}

.formulario__titulo {
    font-size: 1.5em;
}

.formulario__titulo,
.formulario__label,
.formulario__input {
    color: var(--colorNegroLetra);
}

.formulario__parrafo {
    font-size: .9em;
    font-weight: 600;
    color: var(--colorLetraOscuroSecundario);
}

.formulario__fieldset {
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 5px;
    border-color: var(--colorGrisClaro);
}

.formulario__fieldset legend {
    padding: 0 10px;
    font-size: .9em;
    color: var(--colorGrisClaro);
    letter-spacing: 2px;
    transition: color .25s;
}

.formulario__fieldset:hover legend {
    color: var(--colorNegroLetra);
    transition-duration: .35s;
}

.formulario__contenedor-input {
    width: 100%;
}

/* Contenedor que permite que varios inputs se pongan uno al lado del otro */
.formulario__contenedor-flex {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* Clase modificadora del contenedor hijo del formulario__contenedor-flex para que se ubiquen uno al lado del otro */
.contenedor-input {
    width: 47%;
}

.formulario__label {
    font-size: .9em;
}

.formulario__main {
    width: 100%;
}

.formulario__input, .formulario__select {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 10px 15px;
    border: none;
    border-bottom: 3px solid var(--colorLetraOscuro);
    outline: none;
    font-family: 'InterTight';
    box-shadow: 0 3px 15px 0 #0002;
    transition: box-shadow .5s, border-bottom-color .5s;
}

.formulario__input:hover {
    box-shadow: none;
    transition-duration: .25s;
}

.formulario__input:focus {
    border-bottom-color: var(--colorLetraOscuroSecundario);
    transition-duration: .25s;
}

.formulario__opcional {
    color: var(--colorPrincipal);
    font-weight: 900;
    font-size: 1em;
}

.formulario__contenedor-mensajes {
    display: block;
    padding: 5px;
}

.formulario__mensaje {
    margin: 5px 0;
    font-style: italic;
    font-size: .80em;
    color: #f00;
}

.formulario__footer {
    width: 100%;
    margin-top: 15px;
}
