.contenedor__tabla {
    width: 100%;
    padding: 15px 0;
    margin-top: 15px;
    border-radius: 5px;
    overflow-x: auto;
}

.tabla {
    width: 100%;
    border-collapse: collapse;
    overflow-x: auto;
    border: none;
}

th, td {
    padding: 10px 15px;
    text-align: center;
    border: none;
}

td {
    font-size: 1rem;
    font-weight: 400;
}

    td:has(a.boton__eliminar) {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 5px;
    }

.tabla tr {
    box-shadow: 0;
    border: none;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    transition: box-shadow .25s;
}

    .tabla tr:nth-child(even) {
        background-color: var(--colorFondoContainer);
    }

    .tabla tr:nth-child(odd) {
        background-color: var(--colorGrisClaro);
    }

    .tabla tr:hover {
        border-color: var(--colorNegroLetra);
    }

    .tabla tr:first-child {
        background-color: var(--colorLetraOscuro);
        color: var(--colorLetraClaro);
    }

        .tabla tr:first-child th {
            padding: 15px;
            font-size: 1rem;
            font-weight: 600;
            text-align: center;
            letter-spacing: 1px;
        }

.contenedor__tabla-footer {
    margin-top: 15px;
    padding: 5px 10px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.paginacion--actual {
    display: inline-block;
    padding: 3px 10px;
    border: 2px solid var(--colorNegroLetra);
    border-radius: 5px;
    background-color: var(--colorFondoContainer);
    color: var(--colorNegroLetra);
}

@media screen and (max-width: 930px) {
    .contenedor__tabla {
        padding: 15px;
    }
}
