.page__main--registro {
    padding: 25px;
    display: grid;
    grid-template-rows: repeat(2, auto) 1fr;
    grid-template-areas:
        "titulo"
        "subtitulo"
        "formulario";
    max-width: 700px;
    min-width: 700px;
    gap: 15px;
    margin: 0 auto;
}

.contenedor__section--titulo {
    grid-area: titulo;
    margin: 0 auto;
}

.contenedor__section--subtitulo {
    grid-area: subtitulo;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.contenedor__section--formulario {
    grid-area: formulario;
}

@media screen and (max-width: 900px) {
    .contenedor__section--subtitulo {
        margin-top: 5px;
        text-align: center;
        grid-template-columns: 1fr;
    }
}
