.formulario__header {
    text-align: center;
    margin-bottom: 15px;
}

.formulario__titulo {
    font-size: 1.3em;
}

.formulario__titulo,
.formulario__label,
.formulario__input {
    color: var(--colorNegroLetra);
}

.formulario__parrafo {
    color: var(--colorLetraOscuroSecundario);
}

.formulario__fieldset {
    padding: 10px 15px;
    margin: 10px 0;
    border-color: var(--colorGrisClaro);
    border-radius: 5px;
}

    .formulario__fieldset legend {
        padding: 0 5px;
        font-size: .9em;
        font-weight: 600;
        color: var(--colorGrisClaro);
        letter-spacing: 2px;
        transition: color .25s;
    }

    .formulario__fieldset:hover legend {
        color: var(--colorNegroLetra);
        transition-duration: .35s;
    }

.formulario__contenedor-input {
    width: 100%;
    margin-bottom: 5px;
}
/* Contenedor que permite que varios inputs se pongan uno al lado del otro */
.formulario__contenedor-flex {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

/* Clase modificadora del contenedor hijo del formulario__contenedor-flex para que se ubiquen uno al lado del otro */
.contenedor-input {
    width: 47%;
}

.formulario__label {
    font-size: .9em;
}

.formulario__main {
    width: 100%;
}

.formulario__input, .formulario__select {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 7px 15px;
    border: none;
    border-bottom: 3px solid var(--colorLetraOscuro);
    outline: none;
    font-size: 1em;
    font-family: 'InterTight';
    box-shadow: 0 3px 15px 0 #0002;
    transition: box-shadow .5s, border-bottom-color .5s;
}

    .formulario__input:hover {
        box-shadow: none;
        transition-duration: .25s;
    }

    .formulario__input:focus {
        border-bottom-color: var(--colorLetraOscuroSecundario);
        transition-duration: .25s;
    }

    .formulario__input:valid {
        border-bottom-color: var(--colorPrincipal);
    }

    .formulario__input[type="email"]:focus:invalid {
        border-bottom-color: #f00;
    }

.formulario__opcional {
    color: var(--colorPrincipal);
    font-weight: 900;
    font-size: 1em;
}

.formulario__contenedor-mensajes {
    display: block;
    padding: 5px;
    display: none;
}

.formulario__mensaje {
    font-style: italic;
    font-size: .75em;
    color: #f00;
}

.formulario__footer {
    width: 100%;
    margin-top: 15px;
    text-align: center;
}

/* ----- MAIN QUERIES -----*/
@media screen and (max-width: 1450px) {
}

@media screen and (max-width: 900px) {
    .formulario__titulo {
        font-size: 1.1em;
    }

    .contenedor__titulo__principal {
        text-align: left;
    }

    .formulario__fieldset {
        padding: 10px;
    }

        .formulario__fieldset legend {
            font-size: .8em;
        }

    .formulario__label {
        font-size: .8em;
    }

    .formulario__mensaje {
        font-size: .8em;
    }

    .formulario__contenedor-flex {
        display: block;
    }

    .contenedor-input {
        width: 100%;
    }
}

/* ----- FIN MAIN QUERIES -----*/
