.page__main--form {
    padding: 30px 40px;
    display: grid;
    grid-template-rows: repeat(2, auto) 1fr;
    grid-template-areas:
        "titulo"
        "subtitulo"
        "formulario";
    max-width: 900px;
    margin: 30px auto;
}

.contenedor__section--titulo {
    grid-area: titulo;
    margin: 0 auto;
}

.contenedor__section--subtitulo {
    grid-area: subtitulo;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    margin-top: 15px;
}

.formulario__subtitulo {
    font-size: 1.3em;
}

.formulario__parrafo {
    font-size: .9rem;
    color: var(--colorLetraOscuroSecundario);
}

.contenedor__accion--externa {
    padding: 10px;
}

.enlace__accion--externa {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--colorLetraOscuroSecundario);
    padding: 5px 15px;
    background-color: var(--colorLetraOscuro);
    border-radius: 15px;
    position: relative;
}

.contenedor__accion--externa:hover .enlace__accion--externa {
    color: var(--colorLetraClaro);
    transition-duration: .25s;
}

    .enlace__accion--externa .span__flotante__accion--externa {
        display: inline-block;
        position: absolute;
        top: -30px;
        padding: 5px 10px;
        border: 2px solid var(--colorLetraOscuroSecundario);
        border-radius: 10px;
        font-weight: 400;
        letter-spacing: 2px;
        background-color: var(--colorLetraOscuro);
        color: var(--colorLetraClaro);
        opacity: 0;
        transition: top .35s, opacity .35s;
    }

.contenedor__accion--externa:hover .span__flotante__accion--externa {
    top: -40px;
    opacity: 1;
    transition-duration: .25s;
}

.contenedor__section--formulario {
    grid-area: formulario;
    margin-top: 15px;
}

.formulario {
    display: grid;
    justify-items: start;
    align-items: center;
}

.formulario--gr1 {
    grid-template-rows: auto;
}

.formulario--gr2 {
    grid-template-rows: repeat(2, auto);
}

.formulario--gr3 {
    grid-template-rows: repeat(3, auto);
}

.formulario--gr4 {
    grid-template-rows: repeat(4, auto);
}


    .formulario__contenedor {
        width: 100%;
    }

.formulario__fieldset {
    padding: 10px 15px;
    margin: 10px 0;
    display: grid;
    gap: 20px;
    justify-items: center;
    align-items: start;
    border-color: var(--colorGrisClaro);
    border-radius: 5px;
}

.formulario__fieldset--gc1 {
    grid-template-columns: 1fr;
}

.formulario__fieldset--gc2 {
    grid-template-columns: repeat(2, 1fr);
}

.formulario__fieldset--gc3 {
    grid-template-columns: repeat(3, 1fr);
}

.formulario__fieldset legend {
    padding: 0 10px;
    font-size: .9em;
    font-weight: 600;
    color: var(--colorGrisClaro);
    letter-spacing: 2px;
    transition: color .35s;
}

.formulario__fieldset:hover legend {
    color: var(--colorNegroLetra);
    transition-duration: .25s;
}

.formulario__label,
.formulario__input {
    color: var(--colorNegroLetra);
}

.formulario__contenedor-input {
    width: 100%;
}

.formulario__contenedor-input-sp2 {
    grid-column: span 2;
}

.formulario__contenedor-input-sp3 {
    grid-column: span 3;
}

.formulario__label {
    font-size: .9em;
}

.formulario__input, .formulario__select {
    width: 100%;
    margin: 5px 0;
    padding: 7px 15px;
    border: none;
    border-bottom: 3px solid var(--colorLetraOscuro);
    outline: none;
    font-size: 1em;
    font-family: 'InterTight';
    box-shadow: 0 3px 15px 0 #0002;
    transition: box-shadow .5s, border-bottom-color .5s;
}

    .formulario__input:hover {
        box-shadow: none;
        transition-duration: .25s;
    }

    .formulario__input:focus {
        border-bottom-color: var(--colorLetraOscuroSecundario);
        transition-duration: .25s;
    }

    .formulario__input:valid {
        border-bottom-color: var(--colorPrincipal);
    }

    .formulario__input[type="email"]:focus:invalid {
        border-bottom-color: #f00;
    }

.formulario__opcional {
    color: var(--colorPrincipal);
    font-weight: 900;
    font-size: 1em;
}

.formulario__contenedor-mensajes {
    display: block;
    padding: 5px;
}

.formulario__mensaje {
    font-style: italic;
    font-size: .75em;
    color: #f00;
}

.formulario__footer {
    padding-top: 15px;
    text-align: center;
}

/* ----- MAIN QUERIES -----*/
@media screen and (max-width: 1450px) {
}

@media screen and (max-width: 900px) {

    .contenedor__section--subtitulo {
        margin-top: 5px;
        text-align: center;
        grid-template-columns: 1fr;
    }

    .formulario__subtitulo {
        font-size: 1.1em;
    }

    .formulario__parrafo {
        font-size: .8em;
    }

    .formulario__fieldset {
        padding: 10px;
        grid-template-columns: 1fr;
        row-gap: 10px;
    }

    .formulario__fieldset--g2,
    .formulario__fieldset--g3 {
        grid-template-columns: 1fr;
    }

    .formulario__contenedor-input-sp2,
    .formulario__contenedor-input-sp3 {
        grid-column: span 1;
    }

    .formulario__fieldset legend {
        font-size: .8em;
    }

    .formulario__contenedor-input {
        padding: 0 10px;
    }

    .formulario__label {
        font-size: .8em;
    }

    .formulario__mensaje {
        font-size: .8em;
    }

    .formulario__contenedor-flex {
        display: block;
    }

    .contenedor-input {
        width: 100%;
    }
}

/* ----- FIN MAIN QUERIES -----*/