.page__main--users {
    display: grid;
    grid-template-rows: repeat(3, auto) 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
        "titulo"
        "subtitulo"
        "herramientas"
        "tabla";
    padding: 30px 40px;
}

.contenedor__section--titulo {
    grid-area: titulo;
}

.contenedor__section--herramientas {
    grid-area: herramientas;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin-top: 15px;
}

.section--subtitulo {
    font-size: 1.3rem;
}

.section--parrafo {
    font-size: .9rem;
    color: var(--colorLetraOscuroSecundario);
}

.contenedor__herramientas {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}

.fieldset__filtros {
    display: grid;
    grid-template-columns: repeat(3, 1fr) auto;
    align-items: center;
    justify-items: center;
    gap: 10px;
    padding: 15px 10px;
    margin-top: 15px;
    padding-bottom: 25px;
    border: 2px solid var(--colorGrisClaro);
    border-radius: 5px;
    transition: border-color .35s;
}

    .fieldset__filtros:hover {
        border-color: var(--colorNegroLetra);
        transition-duration: .25s;
    }

.fieldset__leyenda {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 0 10px;
    letter-spacing: 2px;
}

.contenedor__filtro {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filtro__label {
    font-size: 1em;
    letter-spacing: 1px;
}

.filtro__input {
    width: 100%;
    margin-top: 5px;
    padding: 7px 15px;
    border: none;
    border-bottom: 4px solid var(--colorGrisClaro);
    color: #333;
    outline: none;
    font-family: 'InterTight';
    font-size: 1em;
    transition: border-bottom-color .25s, box-shadow .25s;
}

    .filtro__input:hover {
        box-shadow: 0 0 10px 0 #0002;
    }

    .filtro__input:focus {
        border-bottom-color: var(--colorLetraOscuroSecundario);
    }

.contenedor__agregar--usuario {
    padding: 10px;
}

.enlace__agregar--usuario {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 7px 15px;
    background-color: var(--colorLetraOscuroSecundario);
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--colorLetraClaro);
    cursor: pointer;
    transition: color .35s;
}

.enlace__agregar--usuario:hover {
    color: var(--colorPrincipal);
    transition-duration: .25s;
}

.contenedor__section--tabla {
    grid-area: tabla;
    width: 100%;
}

.contenedor__tabla {
    width: 100%;
    padding: 15px 0;
    margin-top: 15px;
    border-radius: 5px;
    overflow-x: auto;
}

.tabla {
    width: 100%;
    border-collapse: collapse;
    overflow-x: auto;
    border: none;
}

th, td {
    padding: 7px 10px;
    text-align: center;
    border: none;
}

td {
    font-size: 1rem;
    font-weight: 400;
}

    td:has(a.boton__eliminar) {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 5px;
    }

    .tabla tr {
        box-shadow: 0;
        border: none;
        border-bottom: 2px solid transparent;
        cursor: pointer;
        transition: box-shadow .25s;
    }

    .tabla tr:nth-child(even) {
        background-color: var(--colorFondoContainer);
    }

    .tabla tr:nth-child(odd) {
        background-color: var(--colorGrisClaro);
    }

    .tabla tr:hover {
        border-color: var(--colorNegroLetra);
    }

    .tabla tr:first-child {
        background-color: var(--colorLetraOscuro);
        color: var(--colorLetraClaro);
    }

        .tabla tr:first-child th {
            padding: 15px;
            font-size: 1rem;
            font-weight: 600;
            text-align: center;
            letter-spacing: 1px;
        }

.contenedor__tabla-footer {
    margin-top: 15px;
    padding: 5px 10px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.paginacion--actual {
    display: inline-block;
    padding: 3px 10px;
    border: 2px solid var(--colorNegroLetra);
    border-radius: 5px;
    background-color: var(--colorFondoContainer);
    color: var(--colorNegroLetra);
}

@media screen and (max-width: 930px) {
    .page__main--users {
        padding: 15px;
    }

    .contenedor__section--herramientas {
        padding: 0;
    }

    .contenedor__herramientas {
        grid-template-columns: 1fr;
    }

    .fieldset__filtros {
        grid-template-columns: 1fr;
        align-items: start;
        justify-items: start;
    }

    .contenedor__filtro {
        width: 100%;
        padding: 5px;
        margin-top: 10px;
        align-items: start;
        order: 5;
    }

        .contenedor__filtro.filtro--restablecer {
            order: 1;
        }

    .filtro__input {
        width: 100%;
    }

    .contenedor__agregar--usuario {
        margin-top: 10px;
    }

    .contenedor__tabla {
        padding: 15px;
    }

    .boton {
        padding: 1px;
    }
}
